#fieldset1 legend , #fieldset1 fieldset{
    background-color: #2574A9;
  }
#fieldset2 legend , #fieldset2 fieldset{
    background-color: #9A12B3;
  }
  #fieldset3 legend , #fieldset3 fieldset{
    background-color: #DB0A5B;
  }